PT-BR/Compilação/valve_addon/resource
PT-BR/Compilação/valve_addon/servers
PT-BR/Compilação/valve_addon/titles.txt
PT-BR/Compilação/valve_addon/spectatormenu.txt
PT-BR/Compilação/valve_addon/spectcammenu.txt
PT-BR/Compilação/valve_addon/servers/serverbrowser_english.txt
PT-BR/Compilação/valve_addon/resource/gameui_english.txt
PT-BR/Compilação/valve_addon/resource/OptionsSubAdvanced.res
PT-BR/Compilação/valve_addon/resource/OptionsSubMouse.res
PT-BR/Compilação/valve_addon/resource/OptionsSubVoice.res
PT-BR/Compilação/valve_addon/resource/valve_english.txt
PT-BR/Compilação/valve_addon/sound
EN/Original/sound